main{
    text-align:center;
    background-color:#191970;
    width:100%;
    height:100%;
    color:white;
    padding:5%;
  }
  h1{
    text-align:center;
    font-size:30px;
    font-weight:200;
  }
  #text-input{
    width:50%;
    height:8%;
    padding:1%;
    border-radius:20px;
  }
  #check-btn{
    height:8%;
    margin:2%;
    border-radius:10px;
    padding:1%;
  }
  #check-btn:hover{
    cursor:pointer;
    background-color:lightgrey;
  }
  #defination-div{
    width:80%;
    height:auto;
    background-color:	#B0E0E6;
    border-radius:10px;
    padding:10px;
    font-size:20px;
  color:black;
  margin-left:10%;
  }